<div id="about">
	<h2 class="section-heading">About Myself</h2>
	<hr class="bar"/>

	<div class="about-lock">
		<div ontouchstart="this.classList.toggle('hover');" class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="face-img">
					</div>
				</div>
				<div class="back">
					<div class="face1-img">
					</div>
				</div>
			</div>
		</div>

		<div class="glyph-icon flaticon-cogwheel28"></div>
		<div class="glyph-icon flaticon-computer1"></div>
		<div class="glyph-icon flaticon-hosting"></div>
		<div class="glyph-icon flaticon-computers13"></div>
	</div>

	<div class="blurb">
		<p> I am a Data scientist by interest, Hacker by nature, Computer science engineer by education and currently a Research associate by profession. I am currently based in Chicago working with some awesome people at Bayesian Behaviour Lab at Northwestern University. My work lie in the fields of Machine learning, Natural language processing, Information extraction, Text classification and Deep learning. Outside of work I like cooking, hiking, poker, tennis, cricket and stand-up comedy. 
		</p>
	</div>

</div>