<div id="history" class="history">
	<div class="cd-timeline-header">
		<h2 class="section-heading">Experience</h2>
			<hr class="bar"/>
	</div>

	<section id="cd-timeline" class="cd-container">
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/history/northwestern.jpg" alt="Picture"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">Clinical Research Associate</h2><h3>Northwestern University</h3><P>I am currently in Bayesian Behaviour lab co-advised by Dr. Konrad Kording, Dr. Sanjiv Shah and Dr. Shyam Prabhakaram.</P><span class="cd-date">July 2015-Present</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/history/nus.jpg" alt="College"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Junior Resarch Assistant</h2><h3>National University of Singapore</h3><p>I was a part of NeXT lab in School of Computing co-advised by Dr. Liqiang Nie and Dr. Chua Tat Seng. I worked on best answer selection from HealthTap.com question-answers pair using RankSVM. </p><span class="cd-date">January 2015 - May 2015</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/history/microsoft.jpg" alt="Picture"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Research Intern</h2><h3>Microsoft Research India</h3><p>I was part of Applied Sciences group advised Dr. Raghavendra Udupa. My main project was to extract actionable advices or tips from customer reviews using Machine learning and Text mining.</p><span class="cd-date">July 2014 - December 2014</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/history/google.png" alt="Location"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Google Summer of Code Developer 2014</h2><h3>Raxa</h3><p>I worked with Delhi based organization Raxa for GSoC 2013 advised by Amrit Singh Bains and Dr. Surajit Nandy. My project titled "That's What Doctor Said" aims to convert complex and cryptic medical prescription to layman understandable form.</p><span class="cd-date">May 2014 - August 2014</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>

		<div class="cd-timeline-block">
			
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/history/google.png" alt="Location"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Google Summer of Code Developer 2013</h2><h3>Centre for Computational Medicine, UofT</h3><p>I was advised by Marta Gerdia and Sergui Dimitriu on the project Extraction of medical terms from free form medical text. We used Apache cTAKESas our backend engine to achieve the task. </p><span class="cd-date">May 2013 - Auguust 2013</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>	
		
		
	</section>

	<div class="cd-timeline-header">
	<h2></h2>
	</div>
</div>