<div id="projects" class="projects">
	<h2 class="section-heading">Projects</h2>
	<hr class="bar"/>

	<div class="thumb-container">
		<a href="https://github.com/ravigarg27" class="thumb-unit">
			<div class=project-image>
				<img src="../assets/img/projects/doctor_gsoc.jpg" alt="That's what doctor said - GsoC 2014" height="200px" width="200px">
			</div>
			<div class="tumb-overlay">
				<strong>That's What Doctor Said</strong>
					<div class="zoom-icon"></div>
			</div>
		</a>

		<a href="https://github.com/ravigarg27" class="thumb-unit">
			<div class=project-image>
				<img src="../assets/img/projects/chicago_food.jpg" alt="Clean restaurants in Chicago" height="200px" width="200px">
			</div>
			<div class="tumb-overlay">
				<strong>Where to find clean restaurants in Chicago</strong>
				<div class="zoom-icon"></div>
			</div>
		</a>

		<a href="https://github.com/ravigarg27" class="thumb-unit">
			<div class=project-image>
				<img src="../assets/img/projects/protest_effectiveness.jpg" alt="How effective are political protests?" height="200px" width="200px" >
			</div>
			<div class="tumb-overlay">
				<strong>How effective are political protests?</strong>
				<div class="zoom-icon"></div>
			</div>
		</a>

		<a href="https://github.com/ravigarg27" class="thumb-unit">
			<div class=project-image>
				<img src="../assets/img/projects/kaggle_renthop.jpg" alt="Kaggle - Renthop visualization" height="200px" width="200px">
			</div>
			<div class="tumb-overlay">
				<strong>Kaggle - Renthop visualization</strong>
				<div class="zoom-icon"></div>
			</div>
		</a>
	</div>
</div>